@page "/"
@using SharedModels.DTOs;
@using SharedModels.Enums;
@using Microsoft.Extensions.Configuration;
@inject IndexViewModel ViewModel;

<PageTitle>Juul Timesedler</PageTitle>

<!-- HEADLINE -->
<MudPaper Elevation="5" Class="pa-3 mt-5 d-flex justify-center flex-grow-1 gap-4">
	<MudText Typo="Typo.h4">Juul Timesedler</MudText>
</MudPaper>

<!-- USER PROFILE -->
<MudPaper Elevation="5" Class="pa-4 my-4">
	<MudText Typo="Typo.h5">User Profile</MudText>

	@if (ViewModel.User != null)
	{
		<MudTextField T="int" Adornment="Adornment.Start" AdornmentText="Id: " AdornmentColor="Color.Primary" Value="@ViewModel.User.UserId" ReadOnly />
		<MudTextField T="string" Adornment="Adornment.Start" AdornmentText="Name: " AdornmentColor="Color.Primary" Text="@ViewModel.User.UserName" ReadOnly />
	}
	else
	{
		<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
	}
</MudPaper>

<!-- WEEKS & DAYS -->
<MudPaper Elevation="5" Class="pa-4 my-4">
	<MudText Typo="Typo.h6">Weeks &amp; days</MudText>

	@if (ViewModel.Timesheet?.WeekDays == null || ViewModel.Timesheet.WeekDays.Count == 0)
	{
		<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
	}
	else
	{
		<!-- GetTimesheetForWeekNumber -->
		<MudAppBar Color="Color.Primary" Fixed="false">
			<MudButton Title="Prev. Week" OnClick="ViewModel.GetTimesheetPrevWeek">
				<MudIcon Class="mud-theme-primary" Icon="@Icons.Material.Filled.ChevronLeft" />
			</MudButton>
			<MudSpacer />
			<MudText Typo="Typo.h5">Week # @ViewModel.Timesheet.WeekNumber</MudText>
			<MudSpacer />
			<MudButton Title="Next Week" OnClick="ViewModel.GetTimesheetNextWeek">
				<MudIcon Class="mud-theme-primary" Icon="@Icons.Material.Filled.ChevronRight" />
			</MudButton>
		</MudAppBar>

		<MudTabs AlwaysShowScrollButtons="true"
				 Class="mt-4"
				 Color="@Color.Info"
				 Rounded="true"
				 @bind-ActivePanelIndex="ViewModel.ActiveDayIndex">
			@for (int i = 0; i < ViewModel.Timesheet.WeekDays.Count; i++)
			{
				int localVariable = i;
				<MudTabPanel Text="@ViewModel.FormattedWeekDate(localVariable)" />
			}
		</MudTabs>
	}
</MudPaper>

@if (ViewModel.Timesheet?.Workdays != null && ViewModel.Timesheet.Workdays.Count > ViewModel.ActiveDayIndex)
{
    var currentWorkday = ViewModel.Timesheet.Workdays[ViewModel.ActiveDayIndex];

    <MudForm>
        <!-- PROJECTS -->
        <MudPaper Elevation="5" Class="pa-4 my-4">
            <MudItem>
                <MudText Typo="Typo.h6">Projects</MudText>

                <MudAutocomplete T="GetProjectDTO"
                                 Value="@(ViewModel.Projects?.FirstOrDefault(p => p.ProjectId == currentWorkday.SelectedProjectId))"
                                 ValueChanged="@(p => currentWorkday.SelectedProjectId = p?.ProjectId)"
                                 ToStringFunc="@(e => e == null ? "" : $"{e.ProjectId} - {e.ProjectName}")"
                                 Clearable
                                 Label="Select project"
                                 OnClearButtonClick="ViewModel.ClearProject"
                                 SearchFunc="ViewModel.ChooseProject" />
            </MudItem>
        </MudPaper>

        <!-- STARTING TIME & ENDING TIME -->
        <MudPaper Elevation="5" Class="pa-4 my-4">
            <MudText Typo="Typo.h6">Times</MudText>
            <MudGrid Spacing="2">
                <MudItem xs="6">
                    <MudTimePicker Adornment="Adornment.Start"
                                   Label="Starting"
                                   PickerVariant="PickerVariant.Dialog"
                                   @bind-Time="currentWorkday.StartTime" />
                </MudItem>
                <MudItem xs="6">
                    <MudTimePicker Adornment="Adornment.Start"
                                   Label="Ending"
                                   PickerVariant="PickerVariant.Dialog"
                                   @bind-Time="currentWorkday.EndTime" />
                </MudItem>
            </MudGrid>
        </MudPaper>

        <!-- TASKS -->
        <MudPaper Elevation="5" Class="pa-4 my-4">
            <MudText Typo="Typo.h6">Tasks</MudText>

            @if (ViewModel.GroupedTasks is null)
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            }
            else
            {
                <MudTreeView MultiSelection="true" @bind-SelectedValues="@currentWorkday.SelectedTasks">
                    @foreach (var taskGroup in ViewModel.GroupedTasks)
                    {
                        <MudTreeViewItem Value="@taskGroup.TaskGroupName">
                            @foreach (var taskName in taskGroup.TaskNames)
                            {
                                <MudTreeViewItem Value="@taskName" />
                            }
                        </MudTreeViewItem>
                    }
                </MudTreeView>

                @if (currentWorkday.SelectedTasks?.Count > 0)
                {
                    @foreach (var task in currentWorkday.SelectedTasks)
                    {
                        <MudChip T="string" Color="Color.Primary">
                            <MudIcon Icon="@Icons.Material.Filled.TaskAlt" Size="Size.Medium" Style="padding-right: 10px;" />@task
                        </MudChip>
                    }
                    <MudText><strong>@currentWorkday.SelectedTasks.Count tasks selected.</strong></MudText>
                }
                else
                {
                    <MudText><strong>No tasks selected for @currentWorkday.WeekDay</strong></MudText>
                }
            }
        </MudPaper>

        <!-- COMMENTS -->
        <MudPaper Elevation="5" Class="pa-4 my-4">
            <MudText Typo="Typo.h6">Comments</MudText>
            <MudTextField @bind-Value="currentWorkday.WorkdayComments" 
                          Label="Workday Comments"
                          Variant="Variant.Outlined" 
                          Lines="5" />
        </MudPaper>

        <!-- SUBMIT -->
        <div class="d-flex align-center gap-4">
            <MudButton Class="mb-4" 
                       Color="Color.Primary" 
                       Variant="Variant.Filled" 
                       Disabled="@ViewModel.IsLoading"
                       OnClick="ViewModel.SendForm">
                @if (ViewModel.IsLoading)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Sending...</MudText>
                }
                else
                {
                    <MudText>Send</MudText>
                }
            </MudButton>

            @if (!string.IsNullOrEmpty(ViewModel.SubmitStatus))
            {
                <MudAlert Severity="@(ViewModel.SubmitStatus.StartsWith("Error") ? Severity.Error : Severity.Success)">
                    @ViewModel.SubmitStatus
                </MudAlert>
            }
        </div>

    </MudForm>
}
else if (ViewModel.Timesheet?.WeekDays != null && ViewModel.Timesheet.WeekDays.Count > 0)
{
    <MudAlert Severity="Severity.Info">Loading workday details...</MudAlert>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		await ViewModel.Initialize();
	}
}
